
html{
  background-color: black;
  height: 100vh;
}  
body{
  background-color: black;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;


}
@media (max-width: 900px) {
  body{
      background-image: url("media/background-s.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-color: black;
  }
}

@media (min-width: 901px) {
  body{
      background-image: url("media/background-l.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-color: black;
}
}

h1 {
  color: #f9ba00;
  font-family: arista;
}
.main-middle{
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  
  
  
  
}
.dropdown {
  margin: 10px;
}

.length-alert{
color: red;  
}


.btn_ {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px ;
  position: static;
  width: 100px;
  left: calc(50% - 126px/2);
  top: 0%;
  bottom: 0%;
  margin-top: 2%;
  background: #F97316;
  border-radius: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px;

}

.btn_:hover{
  background: #FB923C;
}

.btn_:active{
  background: #E5E5E5;
}

#copy_button{
  display: none;
  text-align: center;
}
#reload {
  display: none;
}

.invoice {
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

.wait{
  color:#F97316;
  display: none;
}
#paid_button{
  font-weight: 500;
  background-color: #22C55E;
  display: none;
  
}
#invoice-button{
  background-color: #22C55E;
}

#paid_button:active{
  background-color: #E5E5E5;
}
#paid_button:hover{
  background: #4ADE80;
}

#send_tweet{
  font-weight: 500;
  background-color: #22C55E;
  display: none;
  margin: 10px;
}
#send_tweet:hover{
  background: #4ADE80;

}
#send_button:active{
  background: #E5E5E5;
}



#alert-field{
  padding-bottom: 10px;
  color:red;
}

#alert-field.good{
  padding-bottom: 10px;
  color: greenyellow;
}


.success-message{
  color:#F97316;
  display: none;
}

.footer-text{
  text-align: center;
  
  
}

@media (min-height: 500px) {
  .footer-text{
  position: absolute;
  bottom: 0;}
}




.footer-text a{
  color:#F97316;
  
}

#success-message {
  text-align: center;
  display: none;
  padding-top: 40px;

}

#success-message a {
  padding-top: 40px;
  color:#F97316;
}


#qrcode{
  padding-top: 30px;
  padding: 20px;
  background-color: white;
  display: none;
}

#chars{
  font-size: 1em;
}
#sats{
  font-size: 1em;
  margin-bottom: 5%;
}
#tweet-preview {
  display: none;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;

  
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.manual {
  text-align: center;
  padding: 10px;
  
}
.inputfield {
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
}

#urlinput.form-control {
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  max-width: 400px;
}

#invoice-button{
  display: none;
}