
html{
  background-color: black;
  height: 100vh;
}  
body{
  background-color: black;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;


}
@media (max-width: 900px) {
  body{
      background-image: url("media/background-s.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-color: black;
  }
}

@media (min-width: 901px) {
  body{
      background-image: url("media/background-l.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-color: black;
}
}

h1 {
  color: #f9ba00;
  font-family: arista;
}
.main-middle{
  display: flex;
  margin-top: 5vh;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  
}



.btn_ {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px ;
  position: static;
  width: 100px;
  left: calc(50% - 126px/2);
  top: 0%;
  bottom: 0%;
  margin-top: 2%;
  background: #F97316;
  border-radius: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px;

}

.btn_:hover{
  background: #FB923C;
}

.btn_:active{
  background: #E5E5E5;
}






#paid_button{
  font-weight: 500;
  background-color: #22C55E;
  display: none;
  
}
#invoice-button{
  background-color: #22C55E;
}


.buttons{
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.buttons Button{
  padding: 10px;
  margin: 10px;
}

.inputfield {
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
}


.input-group-text{
  min-width: 150px;
}

.price{
  color: white;
  text-align: center;
}
title {
  text-align: center;
}

#countryselector {
  width : 100%;
  margin: 10px 0 10px 0; 
}
#countryselector label {
  width: 20%;
}
#runtimeselector {
  width : 100%;
  margin: 10px 0 10px 0; 
}
#runtimeselector label {
  text-align: center;
  width: 25%;
}
#runtimeselector label.btn.active {
  background-color: white;
  color: #007bff;
}
#countryselector label.btn.active {
  background-color: white;
  color: #007bff;
  
}
#invoicestring { 
  
  text-align: left;
  margin-top: 10px;
  display:inline-block;
  border: 1px;
  padding: 5px;
  border-style: solid;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}

#main_modal {
  min-width: 50%;
}
.modal-footer{
  flex-wrap: unset;
}

#guide_row {
  text-align:   right;
}

#emailModal span.input-group-text{
  min-width: 0;
}

#paid_message{
  text-align: center;
  color:green;
}

canvas{
  padding: 10px;
  background-color: white;
}