
html{
  background-color: black;
  height: 100vh;
  
}  
body{
  font-size: large;
  background-color: black;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* font-family: Poppins-Light; */
}

#header-image {
  padding-top: 10px;
  width:50%;
  margin-bottom: 2%;
}


@media (max-width: 900px) {
  body{
      /* background-image: url("media/background-s.jpg"); */
      background-repeat: no-repeat;
      background-size: cover;
      background-color: black;
  }
}

@media (min-width: 901px) {
  body{
      background-image: url("background-l.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-color: black;
}
}

h3 {
  color: #f9ba00;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-size: 2em;
}
.main-middle{
  padding: 12px;
  max-width: 700px;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  
}

#logo {
  padding-top: 2%;
  max-width: 700px;
  margin: auto;
}

#buttons{
  margin-top: 20px;
}