html {
  background-color: #f8f9fb;
  height: 100vh;
  color: black;
}
html body {
  font-size: 1.25rem;
  background-color: #f8f9fb;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Jost-Regular;
}

/* #header-image {
  padding-top: 10px;
  width:50%;
  margin-bottom: 2%;
} */

body .main-middle {
  padding: 12px;
  max-width: 800px;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
}

.btn_ {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  position: static;
  width: 100px;
  left: calc(50% - 126px / 2);
  top: 0%;
  bottom: 0%;
  margin-top: 2%;
  background: #f97316;
  border-radius: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px;
}

/* .btn_:hover{
  background: #FB923C;
}

.btn_:active{
  background: #E5E5E5;
}

#paid_button{
  font-weight: 500;
  background-color: #22C55E;
  display: none;
  
}

#invoice-button{
  background-color: #22C55E;
} */
.main-buttons button {
  margin: 5px 0px 5px 0px;
  padding: 15px;
  width: 100%;
}

body.main-buttons {
  display: grid;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
}

.main-buttons button.btn-success {
  font-size: 1.25rem;
}

html .modal-footer button {
  font-size: large;
  padding: 10px;
}

.emailbuttons .modal-footer {
  display: flex;
}

.buttons Button {
  padding: 10px;
  margin: 10px;
}

.inputfield {
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
}

.input-group-text {
  min-width: 150px;
}

.price {
  color: black;
  text-align: center;
}

#countryselector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin: 10px 0 10px 0;
}
#countryselector label {
  font-size: large;
  min-width: 20%;
  max-width: 40%;
  margin: 5px;
  border-radius: 30px;
  background-color: #21364c;
}
#runtimeselector label.btn.active {
  background-color: #fff;
  color: #007bff;
}
@media screen and (max-width: 450px) {
  #countryselector {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-ends;
    width: 70%;
    margin: 10px 0 10px 0;
  }
  #countryselector label {
    font-size: large;
    min-width: 20%;
    max-width: 80%;
    border-radius: 30px;
    background-color: #21364c;
  }
}

#runtimeselector {
  width: 100%;
  margin: 2% 0 2% 0;
}

#runtimeselector label {
  font-size: large;
  text-align: center;
  width: 20%;
  background-color: primary;
}
#runtimeselector .btn {
  padding: 0.375rem;
}
html .btn-check:checked + .btn-primary {
  border-color: black;
  border-width: 3px;
}

#invoicestring {
  text-align: left;
  margin-top: 10px;
  display: inline-block;
  border: 1px;
  padding: 5px;
  border-style: solid;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}

.s4s-orderID {
  text-align: left;
  margin-top: 10px;
  display: inline-block;
  /* border: 1px;
    padding: 5px;
    border-style: solid;
    border-radius: 12px; */
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}

#main_modal {
  min-width: 50%;
}
html .modal-footer {
  display: contents;
}

#guide_row {
  text-align: right;
}

#emailModal span.input-group-text {
  min-width: 0;
}
.walletbutton {
  width: 100%;
}

#paid_message {
  text-align: center;
  color: green;
}

canvas {
  padding: 10px;
  background-color: white;
}

button.close {
  color: white;
}
.modal-content {
  border: 1px solid #375a7f !important;
}
.footer-text {
  text-align: center;
  margin-top: 20px;
}

#faq_modal {
  min-width: 80%;
}

@media (min-width: 900px) {
  #faq_modal div.modal-dialog {
    max-width: 80%;
  }
}

#expirydate {
  color: red;
}

#dataplanlist {
  list-style: none;
}

#key-input {
  margin: 2% 0 2% 0;
}

html .navbar-nav {
  font-size: x-large;
}
#logo {
  max-width: 500px;
  margin: auto;
}
.accordion-body {
  text-align: left;
}
h2.accordion-header button {
  font-size: x-large;
}

html .nav-item {
  padding: 5px;
}
html #nav-menu-image {
  width: 50%;
}
#s4s-error-message {
  color: red;
  text-align: center;
  font-size: x-large;
}

.faq-headline {
  margin: 4%;
}

.s4s-selector span.input-group-text {
  min-width: 100px;
}

.s4s-selector .input-group {
  margin-top: 2%;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}

.order-status-canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 2%;
}

.copy-button {
  max-width: 50px;
  margin: 3px;
}

.order-ID {
  width: 100%;
}

.partner-programm-input {
  display: flex;
  align-items: center;
  align-content: stretch;
  flex-wrap: wrap;
  width: 100%;
  border: 2px solid #6a6b6b;
  background-color: white;
  border-radius: 12px;
  z-index: 5;
  padding: 5%;
  margin: 10px 0px 10px 0px;
}

.partner-programm-input-item {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.partner-programm-input-item input {
  background-color: white;
  color: black;
  border: 2px solid #6a6b6b;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.partner-programm-input-item span.input-group-text {
  font-size: 1.25rem;
  min-width: auto;
}

.partner-programm-input-item .input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.partner-programm-input-container {
  padding-top: 10%;
  width: 75%;
}

.partner-programm-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.partner-programm-spinner {
  margin-top: 30%;
}

.partner-programm-success {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  align-content: stretch;
  flex-wrap: wrap;
  width: 100%;
  border: 2px solid #6a6b6b;
  background-color: white;
  border-radius: 12px;
  z-index: 5;
  padding: 5%;
  margin: 10px 0px 10px 0px;
}

.progamm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
